@import "tailwindcss";

@theme {
     --color-tech-bg: #fafafa;
     --color-tech-surface: #18181b;
     --color-tech-accent: #3687c9;
     --color-tech-test: #2e6eaa;
     --color-tech-text: #09090b;
     --color-tech-muted: #a1a1aa;
     --color-tech-dark: #292a2b;
     --color-tech-navy-light: #516194;
     --color-tech-navy-melo: #3f4b73;
     --color-tech-navy: #0f172a;
}

* {
     font-family: "Vazirmatn", system-ui, sans-serif;
}

body {
     font-family: Vazirmatn, sans-serif;
}

@keyframes fadeIn {
     from {
          opacity: 0;
          transform: translateY(-10px);
     }
     to {
          opacity: 1;
          transform: translateY(0);
     }
}

.animate-fadeIn {
     animation: fadeIn 0.2s ease-out;
}

* {
     scrollbar-width: thin;
     scrollbar-color: #aac4ee #f5f7fa;
}

*::-webkit-scrollbar {
     width: 8px;
     height: 8px;
}

*::-webkit-scrollbar-track {
     background: #f5f7fa;
     border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
     background: linear-gradient(180deg, #7fa7e6 0%, #5589dd 100%);
     border-radius: 10px;
     transition: all 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
     background: linear-gradient(180deg, #5589dd 0%, #2a6cd5 100%);
     box-shadow: 0 0 6px rgba(42, 108, 213, 0.3);
}

*::-webkit-scrollbar-thumb:active {
     background: #2a6cd5;
}

.dark-scrollbar::-webkit-scrollbar-track {
     background: #e8edf5;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
     background: linear-gradient(180deg, #2a6cd5 0%, #194180 100%);
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
     background: linear-gradient(180deg, #194180 0%, #112b55 100%);
}
